.page-header{
    width: 100%;
    background: black;
    padding: 20px;
    display: flex;
    position: fixed;
    color: white;
    z-index: 10;
    justify-content: space-between;
}

.page-header__nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}